@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Belanosima&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Alegreya', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: aqua;
}

/*headings and logo */

h1,
h2 {
    font-family: 'Belanosima', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #CC5500;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* dub-intro */

#dub-intro {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#left-intro {
    padding-top: 20px;
    width: 50%;
    float: left;
}

#right-intro {
    padding-top: 20px;
    width: 50%;
    float: right;
}

hr {
    border-top: 1px solid #CC5500;
    width: 100%;
    margin: 5px 0;
}

.right-intro-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#circle-container {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/dub-left.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* dub-about */

#dub-about {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#walls {
    background-image: url('../images/old-town-750.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#kayak {
    background-image: url('../images/kayak-500.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#hike {
    background-image: url('../images/hike-500.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
}

#tours div {
    color: #fafafa;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
}

.zoombox:hover {
    transition: transform .2s;
    transform: scale(1.25);
}