@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Belanosima&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Alegreya', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: aqua;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
}

/*headings and logo */

h1,
h2 {
    font-family: 'Belanosima', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #CC5500;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* dub-intro */

#dub-intro,
#dub-form {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#left-intro,
#left-contact {
    padding-top: 20px;
    width: 50%;
    float: left;
}

#right-intro,
#right-contact {
    padding-top: 20px;
    width: 50%;
    float: right;
}

hr {
    border-top: 1px solid #CC5500;
    width: 100%;
    margin: 5px 0;
}

.right-intro-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    padding-left: 20px;
}

.contact-heading {
    line-height: 20px;
    margin: 0px 20px;
    clear: both;
}

#circle-container {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/dub-left.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* dub-explore */

#dub-explore {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#tours {
    margin-top: 40px;
    margin-bottom: 40px;
}

#walls {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url('../images/old-town-750.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#kayak {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url('../images/kayak-500.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#hike {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url('../images/hike-500.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;

}

#tours div {
    color: #fafafa;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
}

.zoombox:hover {
    transition: transform .2s;
    transform: scale(1.25);
}

.zoombox:hover #infotext {
    display: block;
}

#infotext {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    display: none;
}

/* table */

#times {
    padding: 40px;
}

table {
    width: 100%;
    color: #fafafa;
}

table,
th,
td {
    border: 1px solid #632900dc;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #cc5500dc;
}

table td {
    padding-left: 8px;
    background-color: rgba(204, 85, 0, .6);
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5px;
    padding: 5px;
    color: aqua;
    background: #CC5500;
}

/* contact form */

textarea,
input {
    font-family: 'Alegreya', sans-serif;
}

input[type=submit] {
    margin: 20px;
    padding: 0.75rem;
    background-color: #CC5500;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 30%;
    padding-left: 10px;
    margin: 0 auto;
}

textarea {
    height: 150px;
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

.block-label {
    display: block;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 8px;

}

#photos>img {
    width: 100%;
    margin-bottom: 4px;
}

/* Media */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #dub-intro {
        width: 65%;
        height: 800px;
        margin: 0;
    }

    #dub-explore {
        width: 100%;
        height: 1600px;
        margin: 0;
    }

    #left-intro,
    #right-intro {
        width: 100%;
        float: left;
        padding: 0;
    }

    #tours>div {
        width: 80%;
        margin-left: 10%;
        float: left;
        padding: 0;
    }

    .right-intro-heading {

        padding: 0;
    }

    .right-intro-heading>hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #dub-intro,
    #dub-form {
        width: 90%;
        height: 700px;
        margin: 0 auto;
    }

    .right-intro-heading,
    .contact-heading {
        width: inherit;
    }

    .right-intro-heading h1,
    #times h2 {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .contact-heading h2,
    .contact-heading h3,
    .contact-heading input,
    .contact-heading textarea {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #left-contact {
        width: 100%;
        float: left;
        padding: 0;
    }

    #right-contact {
        width: 100%;
        float: left;
        padding-top: 40px;
    }

    .right-intro-heading p,
    .contact-heading p,
    .intro-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #tours>div {
        width: 80%;
        margin-left: 10%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
        column-gap: 4px;
    }

    #photos>img {
        width: 100%;
        margin-bottom: 2px;
    }

    #dub-intro,
    #dub-form {
        height: 550px;
    }

    #circle-container {
        width: 250px;
        height: 250px;
    }

    #dub-explore {
        height: 1800px;
    }

    #tours div {
        height: 380px;
    }
}